%p.name
  = @poke.name
%p.shuzokuti
  種族値
%p.hp
  %span{id: "hpCount_#{@output}", class: 'status_count'}
  %span{onclick: "statusChange('up', '#hp_#{@output}', '#{@output}', 'hp', '#hpCount_#{@output}')", class: 'upButton'}
    ▲
  %span{onclick: "statusChange('down', '#hp_#{@output}', '#{@output}', 'hp', '#hpCount_#{@output}')", class: 'downButton'}
    ▼
  - if @output == 'poke_1'
    %strong.status_category H:
  %span{ id: "hp_#{@output}", class: 'status_value'}
    = @poke.h
%p.a
  %span{id: "aCount_#{@output}", class: 'status_count'}
  %span{onclick: "statusChange('up', '#a_#{@output}', '#{@output}', 'a', '#aCount_#{@output}')", class: 'upButton'}
    ▲
  %span{onclick: "statusChange('down', '#a_#{@output}', '#{@output}', 'a', '#aCount_#{@output}')", class: 'downButton'}
    ▼
  - if @output == 'poke_1'
    %strong.status_category A:
  %span{ id: "a_#{@output}", class: 'status_value'}
    = @poke.a
%p.b
  %span{id: "bCount_#{@output}", class: 'status_count'}
  %span{onclick: "statusChange('up', '#b_#{@output}', '#{@output}', 'b', '#bCount_#{@output}')", class: 'upButton'}
    ▲
  %span{onclick: "statusChange('down', '#b_#{@output}', '#{@output}', 'b', '#bCount_#{@output}')", class: 'downButton'}
    ▼
  - if @output == 'poke_1'
    %strong.status_category B:
  %span{ id: "b_#{@output}", class: 'status_value'}
    = @poke.b
%p.c
  %span{id: "cCount_#{@output}", class: 'status_count'}
  %span{onclick: "statusChange('up', '#c_#{@output}', '#{@output}', 'c', '#cCount_#{@output}')", class: 'upButton'}
    ▲
  %span{onclick: "statusChange('down', '#c_#{@output}', '#{@output}', 'c', '#cCount_#{@output}')", class: 'downButton'}
    ▼
  - if @output == 'poke_1'
    %strong.status_category C:
  %span{ id: "c_#{@output}", class: 'status_value'}
    = @poke.c
%p.d
  %span{id: "dCount_#{@output}", class: 'status_count'}
  %span{onclick: "statusChange('up', '#d_#{@output}', '#{@output}', 'd', '#dCount_#{@output}')", class: 'upButton'}
    ▲
  %span{onclick: "statusChange('down', '#d_#{@output}', '#{@output}', 'd', '#dCount_#{@output}')", class: 'downButton'}
    ▼
  - if @output == 'poke_1'
    %strong.status_category D:
  %span{ id: "d_#{@output}", class: 'status_value'}
    = @poke.d
%p.s
  %span{id: "sCount_#{@output}", class: 'status_count'}
  %span{onclick: "statusChange('up', '#s_#{@output}', '#{@output}', 's', '#sCount_#{@output}')", class: 'upButton'}
    ▲
  %span{onclick: "statusChange('down', '#s_#{@output}', '#{@output}', 's', '#sCount_#{@output}')", class: 'downButton'}
    ▼
  - if @output == 'poke_1'
    %strong.status_category S:
  %span{ id: "s_#{@output}", class: 'status_value'}
    = @poke.s
%p
  %strong タイプ１:
  %span{class: "#{type_class(@poke.type_1)}"}
    = is_type(@poke.type_1).to_s
%p
  %strong タイプ２:
  %span{class: "#{type_class(@poke.type_2)}"}
    = is_type(@poke.type_2).to_s
.attack_type
  %p
    4倍 
    -1.upto(18) do |attack|
      - result = attack_result(attack, @poke.type_1, @poke.type_2)
      - if result == 4
        %span{class: "#{type_class(attack)}"}
          = is_type(attack).to_s
.attack_type
  %p
    2倍 
    -1.upto(18) do |attack|
      - result = attack_result(attack, @poke.type_1, @poke.type_2)
      - if result == 2
        %span{class: "#{type_class(attack)}"}
          = is_type(attack).to_s
.attack_type
  %p
    0.5倍 
    -1.upto(18) do |attack|
      - result = attack_result(attack, @poke.type_1, @poke.type_2)
      - if result == 0.5
        %span{class: "#{type_class(attack)}"}
          = is_type(attack).to_s
.attack_type
  %p
    0.25倍 
    -1.upto(18) do |attack|
      - result = attack_result(attack, @poke.type_1, @poke.type_2)
      - if result == 0.25
        %span{class: "#{type_class(attack)}"}
          = is_type(attack).to_s
.attack_type
  %p
    無効
    -1.upto(18) do |attack|
      - result = attack_result(attack, @poke.type_1, @poke.type_2)
      - if result == 0
        %span{class: "#{type_class(attack)}"}
          = is_type(attack).to_s
