%p
  = @poke.name
%p
  - if @output == 'poke_1'
    %strong H:
  = @poke.h
%p
  - if @output == 'poke_1'
    %strong A:
  = @poke.a
%p
  - if @output == 'poke_1'
    %strong B:
  = @poke.b
%p
  - if @output == 'poke_1'
    %strong C:
  = @poke.c
%p
  - if @output == 'poke_1'
    %strong D:
  = @poke.d
%p
  - if @output == 'poke_1'
    %strong S:
  = @poke.s
%p
  - if @output == 'poke_1'
    %strong Type 1:
  = is_type(@poke.type_1).to_s
%p
  - if @output == 'poke_1'
    %strong Type 2:
  = is_type(@poke.type_2).to_s
.attack_type
  %p
    4倍
  -1.upto(18) do |attack|
    - result = attack_result(attack, @poke.type_1, @poke.type_2)
    - if result == 4
      %p
        = is_type(attack).to_s
.attack_type
  %p
    2倍
  -1.upto(18) do |attack|
    - result = attack_result(attack, @poke.type_1, @poke.type_2)
    - if result == 2
      %p
        = is_type(attack).to_s
.attack_type
  %p
    0.5倍
  -1.upto(18) do |attack|
    - result = attack_result(attack, @poke.type_1, @poke.type_2)
    - if result == 0.5
      %p
        = is_type(attack).to_s
.attack_type
  %p
    0.25倍
  -1.upto(18) do |attack|
    - result = attack_result(attack, @poke.type_1, @poke.type_2)
    - if result == 0.25
      %p
        = is_type(attack).to_s
.attack_type
  %p
    無効
  -1.upto(18) do |attack|
    - result = attack_result(attack, @poke.type_1, @poke.type_2)
    - if result == 0
      %p{class: "#{is_type(attack).to_s}"}
        = is_type(attack).to_s
