.poke_area
  .area_1
    .search.col-12.mx-2.text-right
      = form_with(url: poke_search_pokes_path, method: :get) do |f|
        = f.text_field :keyword, class: 'form-control col-xs-12 col-sm-8 col-md-6 col-lg-6'
        = f.hidden_field :output, value: 'poke_1'
        %button.btn.btn-success.my-2.my-sm-0{:type => "submit"} 検索
    #poke_1
  .area_2
    .search.col-12.mx-2.text-right
      = form_with(url: poke_search_pokes_path, method: :get) do |f|
        = f.text_field :keyword, class: 'form-control col-xs-12 col-sm-8 col-md-6 col-lg-6'
        = f.hidden_field :output, value: 'poke_2'
        %button.btn.btn-success.my-2.my-sm-0{:type => "submit"} 検索
    #poke_2
