%p#notice= notice
%p
  %strong Name:
  = @poke.name
%p
  %strong H:
  = @poke.h
%p
  %strong A:
  = @poke.a
%p
  %strong B:
  = @poke.b
%p
  %strong C:
  = @poke.c
%p
  %strong D:
  = @poke.d
%p
  %strong S:
  = @poke.s
%p
  %strong Type 1:
  = is_type(@poke.type_1).to_s
%p
  %strong Type 2:
  = is_type(@poke.type_2).to_s
= link_to 'Edit', edit_poke_path(@poke)
|
= link_to 'Back', pokes_path
